@page "/"

<PageTitle>Présentation</PageTitle>

<div class="home-page">
    <div class="identity">

        <div class="identity-photo">
            <img alt="photo" src="./images/photo.jpg" />
        </div>

        <div class="identity-info">
            <h1 class="identity-info-name">GIRAUDET Brendan</h1>
            <span class="identity-info-job">Développeur Full Stack .Net (C#)</span>
            <span class="identity-info-button"><a
                    href="mailto:brendan.giraudet1@gmail.com">brendan.giraudet1@gmail.com</a></span>
            <span class="identity-info-button"><a href="tel:0762789913">0762789913</a></span>
        </div>

        <div class="usefull-links">
            <div><a href="https://github.com/brendanGiraudet"><svg height="32" aria-hidden="true" viewBox="0 0 16 16"
                        version="1.1" width="32" data-view-component="true"
                        class="octicon octicon-mark-github v-align-middle color-fg-default">
                        <path
                            d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z">
                        </path>
                    </svg></a>
            </div>
            <div><a href="https://www.linkedin.com/in/brendan-giraudet-freelance-8ab691b2"><svg
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24"
                        fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                        <path
                            d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z">
                        </path>
                    </svg></a>
            </div>
        </div>

    </div>

    <div class="home-page-content">
        <div class="description">
            <div class="description-file">
                <span>GIRAUDET Brendan / portfolio.md</span>
            </div>

            <div class="description-text">
                <div class="description-text-title">Bienvenu sur mon <span>portfolio</span></div>
                <p>
                    Bonjour à tous,<br/><br/>

                    Je suis un développeur indépendant depuis Février 2024, spécialisé dans le développement sur la
                    technologie .Net, mais également passionné par l'innovation et les défis techniques.<br/><br/>

                    Au cours de ma carrière, j'ai travaillé sur une multitude de projets, allant de la conception de
                    systèmes à la gestion de projets complexes. Je suis très investi dans les projets sur lesquels je
                    travaille et je m'efforce toujours d'offrir à mes clients des solutions sur mesure, adaptées à leurs
                    besoins spécifiques.<br/><br/>

                    Je suis certifié "Programming in C#" et je travaille principalement avec des technologies telles que
                    Blazor, Asp.Net, OpenId Connect. Je suis également expert dans le développement d'API RESTful avec
                    MVC et Minimal API, ainsi que dans l'utilisation d'Azure DevOps et GitHub Action pour le CICD.<br/><br/>

                    En tant que développeur freelance, je m'implique dans toutes les phases de la vie d'une application,
                    de la conception initiale à la maintenance continue. Mon objectif principal est de fournir un
                    service de haute qualité et de créer des solutions qui résolvent les problèmes de mes clients et
                    leur permettent de réaliser leurs objectifs.<br/><br/>

                    Mon engagement envers la qualité et la satisfaction du client se reflète dans le nombre de projets
                    réussis que j'ai réalisés au fil des ans. Je suis également très passionné par le partage de
                    connaissances et la formation, et j'aime aider mes clients à mieux comprendre leurs systèmes et à
                    les utiliser de manière optimale.<br/><br/>

                    Je suis toujours à la recherche de nouveaux défis et de projets intéressants, alors n'hésitez pas à
                    me contacter si vous avez besoin d'un développeur compétent et fiable pour votre prochain projet.<br/><br/>

                    Merci pour votre intérêt et j'espère avoir l'occasion de collaborer avec vous bientôt!
                </p>

                <div class="description-text-title">Stacks</div>
                <div class="description-stack">

                    <div><img src="./images/C-Sharp-logo.svg" alt="C#" /></div>

                    <div><img src="./images/blazor-logo.svg" alt="Blazor" /></div>

                    <div><img src="./images/net-logo.svg" alt=".Net" /></div>

                    <div class="api-logo"><img src="./images/api-logo.webp" alt="API" /></div>

                    <div><img src="./images/sql-logo.webp" alt="SQL" /></div>

                </div>
            </div>
        </div>

        <Experiences />

        <Projects />
    </div>
</div>
