@page "/"

<PageTitle>Présentation</PageTitle>

<div class="home-page">
    <div class="identity">

        <div class="identity-photo">
            <img alt="photo" src="./images/photo.jpg" />
        </div>

        <div class="identity-info">
            <span>GIRAUDET Brendan</span>
            <span class="identity-info-job">Ingénieur étude et développement C#</span>
            <span class="identity-info-email"><a
                    href="mailto:brendan.giraudet1@gmail.com">brendan.giraudet1@gmail.com</a></span>
        </div>

    </div>

    <div class="home-page-content">
        <div class="description">
            <div class="description-file">
                <span>GIRAUDET Brendan / portfolio.md</span>
            </div>

            <div class="description-text">
                <div class="description-text-title">Bienvenu sur mon <span>portfolio</span></div>
                <p>
                    Développeur depuis 2013 (avec alternance).<br/><br/> 
                    Je travaille sur des projets principalement sur la technologie .Net que ce soit en back avec API Rest MVC, Minimal API et en front avec Blazor, ASP.Net Razor.<br/>
                    Je travaille également avec des bases de données comme  SQL Server, SQLite<br/>
                    Je créer des CICD au travers d'Azure DevOps ou Github Action afin de déployer les applications avec Helm<br/><br/>

                    En tant que freelance, je contribue aux différentes étapes de la vies d'une application, que ce soit conception (choix architecture), développement (choix technologique), déploiement (CICD), monitoring (ELK, Rancher, Grafana) afin d'accompagner mes clients à la reussite de leurs projets<br/><br/>

                    Je suis certifié "Programming in C#"<br/><br/>
                    Je suis aussi présent sur Malt (https://www.malt.fr/profile/brendangiraudet)
                </p>

                <div class="description-text-title">Stacks</div>
                <div class="description-stack">

                    <div><img src="./images/C-Sharp-logo.svg" alt="C#" /></div>

                    <div><img src="./images/blazor-logo.svg" alt="Blazor" /></div>

                    <div><img src="./images/net-logo.svg" alt=".Net" /></div>

                    <div class="api-logo"><img src="./images/api-logo.webp" alt="API" /></div>

                    <div><img src="./images/sql-logo.webp" alt="SQL" /></div>

                </div>
            </div>
        </div>

        <Experiences />
    </div>
</div>
