.home-page{
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.identity{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.identity-photo img{
    width: 15rem;
    height: 15rem;
    border-radius: var(--border-radius-round);
}

.identity-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.identity-info .identity-info-name{
    font-size: 1.75rem;
}

.identity-info .identity-info-job{
    font-size: 1rem;
}

.identity-info  .identity-info-button{
    background-color: var(--active-color);
    border-radius: var(--border-radius);
    padding: .75rem;
    display: flex;
    justify-content: center;
    margin: .5rem;
}

.usefull-links{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.usefull-links svg{
    fill: var(--secondary-color);
}

.description{
    display: flex;
    flex-direction: column;
}

.description-file{
    font-size: .75rem;
    padding: 1rem;
}

.description-text{
    border: solid 1px var(--border-color);
    padding: 0.5rem;
    border-radius: var(--border-radius);
}

.description-text-title{
    text-transform: uppercase;
    border-bottom: solid 1px var(--border-color);
    font-size: 1.5rem;
}
.description-text-title span{
    color: var(--active-color);
}

.description-stack{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.description-stack div img{
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
}

.home-page-content > div, .home-page-content ::deep > div{
    margin-bottom: 1rem;
}

.api-logo{
    background-color: var(--border-color);
    border-radius: var(--border-radius-round);
}

@media screen and (min-width: 600px){

    .home-page {
        flex-direction: row;
    }

    .home-page > div{
        padding: 1rem;
    }
}