@page "/"

<PageTitle>Présentation</PageTitle>

<div class="home-page">
    <div class="identity">

        <div class="identity-photo">
            <img alt="photo" src="./images/photo.jpg" />
        </div>

        <div class="identity-info">
            <span>GIRAUDET Brendan</span>
            <span class="identity-info-job">Ingénieur étude et développement C#</span>
            <span class="identity-info-email"><a
                    href="mailto:brendan.giraudet1@gmail.com">brendan.giraudet1@gmail.com</a></span>
        </div>

    </div>

    <div class="description">
        <div class="description-file">
            <span>GIRAUDET Brendan / portfolio.md</span>
        </div>

        <div class="description-text">
            <div class="description-text-title">Bienvenu sur mon <span>portfolio</span></div>
            <p>
                Développeur depuis 2013 (avec alternance),
                je travaille sur des projets principalement sur la technologie .Net (Blazor, ASP.Net Razor, SQL, Azure
                Devops, WPF ...)

                En tant que freelance, j'accompagne mes clients vers la réussite de leur projet.

                Je suis certifié "Programming in C#"
            </p>

            <div class="description-text-title">Stacks</div>
            <div class="description-stack">

                <div><img src="./images/C-Sharp-logo.svg" alt="C#" /></div>

                <div><img src="./images/blazor-logo.svg" alt="Blazor" /></div>

                <div><img src="./images/net-logo.svg" alt=".Net" /></div>

                <div><img src="./images/api-logo.webp" alt="API" /></div>

                <div><img src="./images/sql-logo.webp" alt="SQL" /></div>

            </div>
        </div>
    </div>
</div>
