.nav-menu{
    display: flex;
    height: 3rem;
    background-color: var(--primary-color);
    border-bottom: solid 1px var(--third-color);
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
}

.nav-menu-title{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
 
.puce{
    border-radius: var(--border-radius-round);
    background-color: var(--border-color);
    padding: .75rem;
}

.nav-menu-title .application-version{
    font-size: 0.75rem;
    color: var(--third-color);
}

.nav-menu-items-container{
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    z-index: 100;
}

.nav-menu-items-container.hidden{
    width: 0;
    padding: 0;
    overflow: hidden;
    border: none;
}

.nav-menu-overlay-background{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--third-color);
    opacity: 0.75;
}

.nav-menu-overlay{
    --overlay-width: 70%;
}

.nav-menu-overlay{
    height: 100%;
    width: var(--overlay-width);
    border-right: solid 1px var(--third-color);
    border-radius: 0 1rem 1rem 0;
    z-index: 110;
    background-color: var(--bg-color);
    padding: 1rem;
    position: absolute;
    top: 0;
    transition: all .2s ease-out;
}

.nav-menu-items-container.hidden .nav-menu-overlay{
    width: 0;
}

.nav-menu-overlay-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.nav-menu-items{
    display: flex;
    flex-direction: column;
}

.nav-menu-item{
    padding: .75rem;
}