@page "/experiences"

<PageTitle>Expériences</PageTitle>

<div class="experiences-title">Historique de GIRAUDET Brendan</div>

<div class="experience">

    <div class="commit">
        <div class="commit-icon">
            <svg class="Octicon-sc-9kayk9-0" viewBox="0 0 16 16">
                <path
                    d="M11.93 8.5a4.002 4.002 0 0 1-7.86 0H.75a.75.75 0 0 1 0-1.5h3.32a4.002 4.002 0 0 1 7.86 0h3.32a.75.75 0 0 1 0 1.5Zm-1.43-.75a2.5 2.5 0 1 0-5 0 2.5 2.5 0 0 0 5 0Z">
                </path>
            </svg>
        </div>
        <div class="commit-title">
            <h3>Ebp Informatique - Editeur de logiciel de gestion
                commercial et de comptabilité - Mar 2020 – Jan 2024
            </h3>
        </div>
    </div>

    <div class="experience-info">
        <div class="experience-info-details">Développement du portail d’authentification permettant la connexion aux
            applications de l'ensemble de l'entreprise</div>
        <div class="experience-info-details">Développement du portail d’espace utilisateur permettant la gestion de ses
            informations</div>
        <div class="experience-info-details">Développement d’un micro service permettant l’envoie de Sms</div>
        <div class="experience-info-details">Développement d’un nuget facilitant la récupération des informations
            utilisateurs provenant d’un token JWT</div>
        <div class="experience-info-details">Développement d’un micro service permettant la gestion des informations lié
            à l’OpenId Connect</div>
        <div class="experience-info-details">Mise en place du CICD sur Azure Devops pour des applications sur IIS et sur
            AKS</div>
        <div class="experience-info-details">Accompagnement des développeurs à l'utilisation d'OIDC</div>
        <div class="experience-info-details">Rédaction d’US, organisation de retro, review et planning poker</div>
        <div class="experience-info-details">Rédaction de documentation fonctionnelle et technique</div>
    </div>
</div>

<div class="experience">

    <div class="commit">
        <div class="commit-icon">
            <svg class="Octicon-sc-9kayk9-0" viewBox="0 0 16 16">
                <path
                    d="M11.93 8.5a4.002 4.002 0 0 1-7.86 0H.75a.75.75 0 0 1 0-1.5h3.32a4.002 4.002 0 0 1 7.86 0h3.32a.75.75 0 0 1 0 1.5Zm-1.43-.75a2.5 2.5 0 1 0-5 0 2.5 2.5 0 0 0 5 0Z">
                </path>
            </svg>
        </div>
        <div class="commit-title">
            <h3>Ausy - ESN - Oct 2019 – Feb 2020</h3>
        </div>
    </div>

    <div class="experience-info">
        <div class="experience-info-details">Développement et mise à jour de service composant l'application "Talon"</div>
        <div class="experience-info-details">Concevoir et développer un outil de traduction Mermaid vers C#</div>
    </div>
</div>

<div class="experience">

    <div class="commit">
        <div class="commit-icon">
            <svg class="Octicon-sc-9kayk9-0" viewBox="0 0 16 16">
                <path
                    d="M11.93 8.5a4.002 4.002 0 0 1-7.86 0H.75a.75.75 0 0 1 0-1.5h3.32a4.002 4.002 0 0 1 7.86 0h3.32a.75.75 0 0 1 0 1.5Zm-1.43-.75a2.5 2.5 0 1 0-5 0 2.5 2.5 0 0 0 5 0Z">
                </path>
            </svg>
        </div>
        <div class="commit-title">
            <h3>Ebp Informatique - Editeur de logiciel de gestion commercial et de comptabilité – Nov 2016 – Oct 2019</h3>
        </div>
    </div>

    <div class="experience-info">
        <div class="experience-info-details">Développement du portail d’espace utilisateur permettant la gestion de ses informations</div>
        <div class="experience-info-details">Développement d'APIs</div>
        <div class="experience-info-details">Maintenance évolutive sur les applications existantes</div>
    </div>
</div>

<div class="experience">

    <div class="commit">
        <div class="commit-icon">
            <svg class="Octicon-sc-9kayk9-0" viewBox="0 0 16 16">
                <path
                    d="M11.93 8.5a4.002 4.002 0 0 1-7.86 0H.75a.75.75 0 0 1 0-1.5h3.32a4.002 4.002 0 0 1 7.86 0h3.32a.75.75 0 0 1 0 1.5Zm-1.43-.75a2.5 2.5 0 1 0-5 0 2.5 2.5 0 0 0 5 0Z">
                </path>
            </svg>
        </div>
        <div class="commit-title">
            <h3>Geser Best - ESN – Oct 2015 – Sep 2016</h3>
        </div>
    </div>

    <div class="experience-info">
        <div class="experience-info-details">Conception et développement de l'outil de traduction</div>
        <div class="experience-info-details">Maintenance du portail</div>
    </div>
</div>

<div class="experience">

    <div class="commit">
        <div class="commit-icon">
            <svg class="Octicon-sc-9kayk9-0" viewBox="0 0 16 16">
                <path
                    d="M11.93 8.5a4.002 4.002 0 0 1-7.86 0H.75a.75.75 0 0 1 0-1.5h3.32a4.002 4.002 0 0 1 7.86 0h3.32a.75.75 0 0 1 0 1.5Zm-1.43-.75a2.5 2.5 0 1 0-5 0 2.5 2.5 0 0 0 5 0Z">
                </path>
            </svg>
        </div>
        <div class="commit-title">
            <h3>Altimate - ESN – Feb 2015 – Aug 2015</h3>
        </div>
    </div>

    <div class="experience-info">
        <div class="experience-info-details">Développement de nouvelles fonctionnalités</div>
        <div class="experience-info-details">Maintenance de l'application</div>
    </div>
</div>

<div class="experience">

    <div class="commit">
        <div class="commit-icon">
            <svg class="Octicon-sc-9kayk9-0" viewBox="0 0 16 16">
                <path
                    d="M11.93 8.5a4.002 4.002 0 0 1-7.86 0H.75a.75.75 0 0 1 0-1.5h3.32a4.002 4.002 0 0 1 7.86 0h3.32a.75.75 0 0 1 0 1.5Zm-1.43-.75a2.5 2.5 0 1 0-5 0 2.5 2.5 0 0 0 5 0Z">
                </path>
            </svg>
        </div>
        <div class="commit-title">
            <h3>ECPIM Dometech - Expert comptable pour l'immobilier – Sep 2013 – Sep 2014</h3>
        </div>
    </div>

    <div class="experience-info">
        <div class="experience-info-details">Développement de fonctionnalités</div>
    </div>
</div>