<nav class="nav-menu-items">
    <div class="nav-menu-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Présentation
        </NavLink>
    </div>
</nav>