<div class="experiences">
    <div class="experiences-title" id="experiences">Historique de GIRAUDET Brendan</div>

    @foreach (var experience in _experiences)
    {
        <Experience ExperienceModel="experience" />
    }

</div>